# Dependencies
/node_modules

# Build output
dist/

# Astro
.astro/

# Misc
.DS_Store
.env
.env.*
note.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEA
.idea

# Claude Code
.claude/settings.local.json
CLAUDE.md
.docusaurus/
