/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 :root {
  --ifm-color-primary:  var(--telekom-color-primary-standard);
  --font-size: var(--telekom-typography-font-size-caption);
  --font-color: var(--telekom-color-text-and-icon-standard);
  --font-large: var(--telekom-text-style-ui);
  font: var(--telekom-text-style-body)
}

.navbar{
  --shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
  --background: var(--telekom-color-background-surface);
  --background-logo: var(--telekom-color-primary-standard);
  --transition-common-scrolled: height var(--telekom-motion-duration-immediate)
    var(--telekom-motion-easing-standard),
    width var(--telekom-motion-duration-immediate),
    margin var(--telekom-motion-duration-immediate);
  --font-size-app-name: var(--telekom-typography-font-size-body);
  --line-height-app-name: var(--telekom-typography-line-spacing-tight);
  --font-weight-app-name: var(--telekom-typography-font-weight-extra-bold);
}


scale-telekom-header {
  --shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
  --background: var(--telekom-color-background-surface);
  --background-logo: var(--telekom-color-primary-standard);
  --transition-common-scrolled: height var(--telekom-motion-duration-immediate)
    var(--telekom-motion-easing-standard),
    width var(--telekom-motion-duration-immediate),
    margin var(--telekom-motion-duration-immediate);
  --font-size-app-name: var(--telekom-typography-font-size-body);
  --line-height-app-name: var(--telekom-typography-line-spacing-tight);
  --font-weight-app-name: var(--telekom-typography-font-weight-extra-bold);
  padding: 0;
}

scale-telekom-nav-list {
  --width: 100%;
  --height: 100%;
  --spacing-x-start: 0;
  --flex-direction: row;
}

scale-telekom-nav-item {
  --focus-outline: var(--telekom-line-weight-highlight) solid
    var(--telekom-color-functional-focus-standard);
  --color: var(--telekom-color-text-and-icon-standard); 
}

 :host {
  --font-size: var(--telekom-typography-font-size-caption);
  --font-color: var(--telekom-color-text-and-icon-white-standard);
  --font-size: var(--telekom-typography-font-size-caption);
  --font-color: var(--telekom-color-text-and-icon-white-standard);
  --font-large: var(--telekom-text-style-ui);
  --font-large: var(--telekom-text-style-ui);
  --background-footer: var(--telekom-color-ui-black);
  --background-footer-minimal: var(--telekom-color-background-canvas);
} 


body {
  background-color: var(--telekom-color-background-canvas);
  color: var(--telekom-color-text-and-icon-standard);
}

#search-bar {
  display: none;
}

.visible {
  display: block;
}